@font-face {
    font-family: 'coolveticaregular_italic';
    src: url('webfontkit/coolvetica_rg_it-webfont.woff2') format('woff2'),
         url('webfontkit/coolvetica_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coolveticaregular';
    src: url('webfontkit/coolvetica_rg-webfont.woff2') format('woff2'),
         url('webfontkit/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'coolveticaregular';
  height: 50%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  font-family: 'coolveticaregular_italic';
  height: 150%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
